/************************* BODY *************************/
body {
    font-family: 'Karla', sans-serif;
    margin: 0px;
    background-color: #4C5364;
}

.container {
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/***** title/heading *****/
#header-bracket {
    height: max-content;
    margin-bottom: 30px;
}

#header-bracket:before {
    content: " ";
    width: 10px;
    height: 105px;
    position: absolute;

    border: 0px solid #ff9797;
    border-top: 3px solid #ff9797;
    border-left: 3px solid #ff9797;
    border-bottom: 3px solid #ff9797;
}

h1 {
    letter-spacing: 5px;
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 15px;
}

#header-bracket h2 {
    font-size: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 15px;
}

/***** sections *****/
.bracket {
    width: max-content;
    padding: 10px;
    border: 3px solid #ff9797;
}

.bracket h2 {
    margin: 0px;
}

.content {
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.content h3 {
    width: max-content;
    border-bottom: 3px solid #ff9797;
}

ul li {
    list-style-type: circle;
}

/* images */
.figures {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.single-figure {
    display: inline;
    margin: 5px;
    border: 2px solid #ff9797;
    padding: 7px;
    width: 375px;
    height: 760px;
}

.single-figure img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    vertical-align: middle;
}

.single-figure p {
    width: 100%;
    vertical-align: middle;
}

/* table for user observation */
.user-obs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user-obs table {
    width: 575px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #ff9797;
}

.table-head {
    text-align: center;
    border-bottom: 2px solid #ff9797;
    height: 25px;
}

/* persona images */
.persona-img {
    width: 500px;
}

/* storyboard images */
.storyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.storyboard img {
    width: 350px;
    margin: 7px;
}

/************************ handles changes resizing changes ************************/

@media (max-width:934px) {
    #header-bracket:before {
        height: 175px;
    }
}

@media (max-width:750px) {
    img {
        width: 100%;
    }
}